<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling four column ">
                <div class="column">
                    <div class="icon_place">
                        <i class="shipping icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Frete Econômico</h3>
                        <p>Receba seus livros com taxas de frete reduzidas</p> 
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="credit card alternative icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Formas de Pagamento</h3>
                        <p>Débito ou Crédito em até 5X sem juros (parcela mínima de R$30,00)</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="motorcycle icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Entrega Via Portador</h3>
                        <p>Exclusivo para a cidade de Araras/SP.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="lock icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Compra Segura</h3>
                        <p>Compre com segurança e receba na sua casa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>