@model DomainProduct.Filters
<div class="column" id="filter">
    <div class="ui labels containerFilter">

    </div>
    <div class="four wide column filtros" id="filtros">
        <div class="ui grid one column">
            <div class="row">
                <div class="row filterbar">
                    <div class="eight wide column">
                        <h3>Filtros</h3>
                    </div>
                    <div class="eight wide column">
                        <a class="ui button black icon closeFiltros"><i class="remove icon"></i></a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui accordion" id="filtroList">
                      

                        @if (Model.Categories != null && Model.Categories.Count() > 1)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml", Model.Categories)
                        }

                     

                        @Html.Partial("~/Views/Shared/Blocks/Product/_PriceFilters.cshtml")
                    </div>
                </div>
            </div>
                <!-- Page: ~/Views/Shared/Blocks/Group/_GroupList.cshtml -->
                @Html.Action("GroupList", "Group")
        </div>

    </div>
</div>